<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <main  role="main" class="inner cover"  >

            <form>
                <div class="row text-center">
                    <h3 class="cover-heading ">환율계산</h3>
                </div>
                <div class="form-group">
                    <label for="sendNation">송금국가</label>
                    <input type="text" class="form-control" id="sendNation" th:value="${vo.source}" readonly disabled>
                </div>
                <div class="form-group">
                    <label for="receiptNation">수취국가</label>
                    <select class="form-control" id="receiptNation">
                        <option value="">선택하기</option>
                        <option th:each="quote : ${vo.quotes}"
                                th:value="${quote.value}"
                                th:utext="${quote.key}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exchangeRate">환율</label>
                    <input type="text" class="form-control" id="exchangeRate" value="" readonly disabled>
                </div>

                <div class="form-group">
                    <label for="sendMoney" th:text="'송금액(' +${vo.source} + ')'"></label>
                    <input type="text" class="form-control" id="sendMoney" value="">
                </div>
                <p class="lead">
                    <button id="submitBtn" class="btn btn-lg btn-secondary">Submit</button>
                </p>
            </form>

    </main>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu").find('a').removeClass('active');
            $("#menu02").addClass('active');
            $("#receiptNation").on('change', function(){
                $("#exchangeRate").val($("#receiptNation").val());
            });

            $("#submitBtn").on('click', function(){
                alert("submit button clicked!!");
            });

        });

    </script>
</div>
</html>
