<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <main  role="main" class="inner cover"  >

            <form>
                <div class="row text-center">
                    <h3 class="cover-heading ">환율계산</h3>
                </div>
                <div class="form-group">
                    <label for="sendNation">송금국가</label>
                    <input type="text" class="form-control" id="sendNation" th:value="${vo.source}" disabled>
                </div>
                <div class="form-group">
                    <label for="receiptNation">수취국가</label>
                    <select class="form-control" id="receiptNation">
                        <option th:each="quote : ${vo.quotes}"
                                th:value="${quote.value}"
                                th:utext="${quote.key}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exchangeRate">환율</label>
                    <input type="text" class="form-control" id="exchangeRate" value="" disabled>
                </div>

                <div class="form-group">
                    <label for="sendMoney">송금액</label>
                    <input type="text" class="form-control" id="sendMoney" value=""> USD
                </div>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Submit</a>
                </p>
            </form>

    </main>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu").find('a').removeClass('active');
            $("#menu02").addClass('active');
        });
    </script>
</div>
</html>
