<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<header th:fragment="main-header" class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">Real Time Exchange</h3>
				<nav id="menu" class="nav nav-masthead justify-content-center">
					<a id="menu01" class="nav-link active" href="/">Home</a>
					<a id="menu02"class="nav-link" href="/currency">currency</a>
					<!--<a class="nav-link" href="#">Contact</a>-->
				</nav>
			</div>
		</header>
	</body>
</html>