<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <main  role="main" class="inner cover text-center"  >
        <h1 class="cover-heading">환율 계산기.</h1>
        <ol>
            <li class="lead">송금국가는 미국으로 고정입니다. 통화는 미국달러(USD)입니다.</li>
            <li class="lead">수취국가는 한국, 일본, 필리핀 세 군데 중 하나를 select box로 선택합니다. 각각 통화는 KRW, JPN, PHP 입니다.</li>
            <li class="lead">수취국가를 선택하면 아래 환율이 바뀌어나타나야 합니다. 환율은 1 USD 기준으로 각각 KRW, JPN, PHP의 대응 금액입니다.</li>
            <li class="lead">송금액을 USD로 입력하고 Submit을 누르면 아래 다음과 같이 수취금액이 KRW, JPN, PHP 중 하나로 계산되어서 나와야 합니다.</li>
            <li class="lead">환율과 수취금액은 소숫점 2째자리까지, 3자리 이상 되면 콤마를 가운데 찍어 보여줍니다. 예를 들어 1234라면 1,234.00으로 나타냅니다.</li>
        </ol>
        <p class="lead">
            <a href="#" class="btn btn-md btn-secondary">Learn more</a>
        </p>
    </main>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu").find('a').removeClass('active');
            $("#menu01").addClass('active');
        });
    </script>
</div>
</html>
